/* styles.css */

header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: -4px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 50px;
    margin-top: 20px;
    float: right;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
}

body img.logoylos {
    width: 200px;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}
.container1{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}
main {
    flex: 1;
    padding: 20px;
}


.image1 {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

h1 {
    position: absolute;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #616651;
  }

h2 {
    text-align: center;
    font-size: 2em;
}

.column {
    width: 20%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.container2 {
    color: rgb(0, 0, 0);
  }

.content {
    padding: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.column1 {
    flex: 1;
    padding: 10px;
    border: 3px solid rgb(177, 177, 177);
    /*background-color: --*/
}

.column2 {
    flex: 2;
    padding: 10px;
    border: 3px solid rgb(177, 177, 177);
    /*background-color: --*/
}

.kopioastia svg {
    display: flex;
    transform: scale(0.5);
    border: 3px solid rgb(60, 60, 59);;
}

svg {
    stroke: white;
    stroke-width: 0.4;
    stroke-opacity: 0.4;
}

button {
    background-color: #ffffff;
    color: black;
    border: 3px solid rgb(177, 177, 177);
    padding: 4px 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

footer {
    background-color: rgb(60, 60, 59);
    color: white;
    text-align: start;
    padding: 60px;
}

footer img.logo {
    width: 200px;
    height: auto;
}

footer img.linkedin {
    width: 35px;
    margin-left: 20 px;
    height: auto;
}

footer img.fb {
    width: 35px;
    margin-right: 20;
    height: auto;
}

footer img.ig {
    width: 35px;
    height: auto;
}

@media only screen and (max-width: 750px) {
    body .img{
        width: auto;
    }
    nav{
        font-size: 1em;
    }
    
    h1 {
      font-size:1.05em;
    }
    h2{
        font-size: 1em;
    }
    .column{
        font-size: 0.8em;
        width: 100%;
        padding: 0;
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    .column1{
        font-size: 0.8em;
    }
  }