/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: -4px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 50px;
    margin-top: 20px;
    float: right;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center;
}

body img.logoylos {
    width: 200px;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    position: absolute;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #616651;
    text-align: end;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 1 25%;
    margin: 10px;
}

.column {
    width: 18%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

#instructions {
    display: block;
}

#mobile-instructions {
    display: none;
}

button {
    background-color: #ffffff;
    color: black;
    border: 3px solid rgb(177, 177, 177);
    padding: 4px 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-bottom: 1%;
    float: right;
}

.generator {
    color: rgb(0, 0, 0);
}

.content {
    padding: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.contact {
    padding: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.column1 {
    flex: 1;
    padding: 10px;
    border: 3px solid rgb(177, 177, 177);
}

.column2 {
    flex: 2;
    padding: 10px;
    border: 3px solid rgb(177, 177, 177);
}


svg {
    width: auto;
    stroke: white;
    stroke-width: 0.4;
    stroke-opacity: 0.4;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}



footer {
    background-color: rgb(60, 60, 59);
    color: white;
    text-align: start;
    padding: 60px;
}

footer img.logo {
    width: 200px;
    height: auto;
    color: rgb(60, 60, 59);
}

footer img.linkedin {
    width: 40px;
    height: auto;
    color: rgb(60, 60, 59);
}

footer img.fb {
    width: 40px;
    height: auto;
    color: rgb(60, 60, 59);
}

footer img.ig {
    width: 40px;
    height: auto;
    color: rgb(60, 60, 59);
}

.social-icons {
    display: flex;
}

.social-icons div {
    margin-right: 10px;
}


@media only screen and (max-width: 850px) {
    body img.logoylos {
        width: 130px;
        height: auto;
    }

    nav {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.1em;
    }

    h2 {
        font-size: 0.95em;
    }

    .column {
        font-size: 0.8em;
        flex: 1 1 100%;
        padding: 0;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    #instructions {
        display: none;
    }

    #mobile-instructions {
        display: block;
    }

    .column1 {
        font-size: 0.8em;
    }

    #kopioastia svg {
        display: none;
    }

    .contact {
        font-size: 0.8em;
    }

    footer {
        padding: 35px;
    }

    footer img.logo {
        width: 130px;
        height: auto;
    }

    footer img.linkedin {
        width: 25px;
        height: auto;
    }

    footer img.fb {
        width: 25px;
        height: auto;
    }

    footer img.ig {
        width: 25px;
        height: auto;
    }
}